<header class="header">
    <a href="/" class="logo" aria-label="allora">
        <img src="./images/logo-dark.png" alt="allora Logo"/>
    </a>

    <label for="toggle" class="hamburger" aria-label="Toggle Navigation Menu" aria-controls="nav-menu">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
        </svg>
    </label>
    <input type="checkbox" id="toggle" class="toggle" aria-hidden="true"/>

    <nav id="nav-menu" class="nav-menu" aria-label="Main Navigation" aria-expanded="false">
        <label for="toggle" class="menu-close" aria-label="Close Navigation Menu" aria-controls="nav-menu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
            </svg>
        </label>

        <div class="nav-menu-links">
            <a href="/" aria-current="false">Home</a>
            <a href="/services.html" aria-current="false">Services</a>
            <a href="/testimonials.html" aria-current="false">Testimonials</a>
            <a href="/pricing.html" aria-current="false">Pricing</a>
            <a href="/blog.html" aria-current="false">Blog</a>
            <a href="/contact.html" aria-current="false">Contact</a>
        </div>

        <button type="button" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
            </svg>
        </button>

        <button type="button" class="btn-outline btn" aria-label="Start Free Trial">
            Try for Free 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"/>
            </svg>
        </button>
    </nav>

</header>